mat-form-field
    opacity: 0
    height: 0px

mat-list
    display: flex
    flex-wrap: wrap
    align-content: center
    justify-content: center
    gap: 2rem
    mat-card
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        width: 45%
        mat-card-header
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
