<ion-header>
  <ion-toolbar>
    <ion-title>Formulario de creacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-label>Nombres</ion-label>

    <ion-input type="text" minlength="4" name="asd" required="required" placeholder="Nombre" [(ngModel)]="nombres"
      #nombresInput="ngModel"></ion-input>

    <ion-item *ngIf="nombresInput.invalid && (nombresInput.dirty || nombresInput.touched)">
      <ion-label *ngIf="nombresInput.errors?.['required']">El nombre es requerido</ion-label>

      <ion-label *ngIf="nombresInput.errors?.['minlength']">
        El nombre tiene que tener minimo 4 letras
      </ion-label>
    </ion-item>

    <ion-label>Apellidos</ion-label>

    <ion-input type="text" minlength="4" name="hagsd" required="required" placeholder="Apellidos" [(ngModel)]="apellidos"
      #apellidosInput="ngModel"></ion-input>

    <ion-item *ngIf="apellidosInput.invalid && (apellidosInput.dirty || apellidosInput.touched)">
      <ion-label *ngIf="apellidosInput.errors?.['required']">El nombre es requerido</ion-label>

      <ion-label *ngIf="apellidosInput.errors?.['minlength']">
        El nombre tiene que tener minimo 4 letras
      </ion-label>
    </ion-item>

    <ion-button (click)="enviardatos()" expand="block" fill="clear" shape="round">Click me</ion-button>
  </form>
</ion-content>